<div class="property-inspector">

    <div class="property-body">

        <header class="sub-label" {{action 'toggleObj'}}>Object: Component Type</header>
        {{#if isObjExpanded}}
            <ul class="options-list">
                <li>Name {{view Ember.TextField valueBinding="props.text" action="updateText"}}</li>
            </ul>
        {{/if}}


        <header class="sub-label" {{action 'toggleAttr'}}>Attributes</header>
        {{#if isAttrExpanded}}
            <ul class="options-list">
                <li>Width</li>
                <li>Height</li>
                <li>x-pos</li>
                <li>y-pos</li>
                <li>Hint</li>
                <li>Stack Index</li>
            </ul>
        {{/if}}

        <header class="sub-label" {{action 'toggleStyle'}}>Style</header>
        {{#if isStyleExpanded}}
            <ul class="options-list">
                <li>Text</li>
                <li><span {{action 'toggleFont'}}>Font <span class="caret"></span></span>
                    {{#if isFontExpanded}}
                        <ul>
                            <li>font-family</li>
                            <li>font-size</li>
                            <li>color</li>
                            <li>style</li>
                            <li>line-height</li>
                        </ul>
                    {{/if}}
                </li>
                <li>URL</li>
                <li><span {{action 'toggleBg'}}>Background <span class="caret"></span></span>
                    {{#if isBgExpanded}}
                        <ul>
                            <li>color</li>
                            <li>image</li>
                        </ul>
                    {{/if}}
                </li>
            </ul>
        {{/if}}

        <header class="sub-label" {{action 'toggleEvents'}}>Events</header>
        {{#if isEventsExpanded}}
            <ul class="options-list">
                <li>Click</li>
                <li>Double Click</li>
                <li>Mouse Enter</li>
                <li>Mouse Leave</li>
                <li>Focus In</li>
                <li>Focus Out</li>
            </ul>
        {{/if}}
    </div>
</div>
