<div class="editor clearfix">

    <header class="main" id="header">
        <h1>Proto
            {{#link-to 'index'}}Design{{/link-to}}
        </h1>

        <div class="project-controls">
          <span class="fa fa-file-o icons" title="New" {{action 'createProject' }}></span>
          <span class="fa fa-folder-open-o icons" title="Open" {{ action 'openOpenProject' }}></span>
          <span class="fa fa-save icons" title="Save" {{ action 'saveProject' }}></span>
          <span class="fa fa-external-link-square icons" title="Export" {{ action 'exportProject' }}></span>
          <span class="fa fa-play icons" title="Run" {{ action 'runProject' }}></span>
        </div>
    </header>

    {{ open-modal open=open model=projects }}

    <!-- # .main -->

    {{outlet}}

</div>
