<div class="editor clearfix" xmlns="http://www.w3.org/1999/html">

    <header class="main">
        <h1>Proto
            {{#link-to 'editor'}}Design{{/link-to}}
        </h1>

        <div class="project-controls">
            <span class="fa fa-file-o icons" title="New"></span>
            <span class="fa fa-folder-open-o icons" title="Open"></span>
            <span class="fa fa-save icons" title="Save"></span>
            <span class="fa fa-external-link-square icons" title="Export"></span>
            <span class="fa fa-play icons" title="Run"></span>
        </div>
    </header>

    <section class="sidebar">

        <aside>
            <header class="label-title">Element Inspector</header>
            {{ property-inspector
                    elemid=elementId
                    width=width
                    height=height
                    x_pos=x_pos
                    y_pos=y_pos
            }}
        </aside>

        <aside>
            <header class="label-title">Project Tree <span class="add-screen fa fa-plus-square-o" {{action addScreen}}></span></header>

            {{ project-tree screens=model }}
        </aside>

        {{screen-modal edit=edit screenTitle=screenTitle}}

    </section>

    <div class="workspace">

        <div class="canvas-workspace">
            {{outlet}}
        </div>

    </div>

</div>

