<div class="editor clearfix" xmlns="http://www.w3.org/1999/html">

    <header>
        <h1>Proto
            {{#link-to 'editor.design'}}Design{{/link-to}}
            {{#link-to 'editor.code'}}Code{{/link-to}}
        </h1>
    </header>

    <section class="sidebar">
        <aside>
            <header class=".project-head label-title">Project Tree</header>
            {{ project-tree }}
        </aside>
        <aside>
            <header class=".property-head label-title">Element Inspector</header>
            {{ property-inspector }}
        </aside>
    </section>

    <div class="workspace">

        <div class="canvas-workspace">
            {{view Proto.CodeContainer isVisibleBinding="editCode"}}
            {{view Proto.Canvas isVisibleBinding="editDesign"}}
        </div>


        <footer>
            <button {{bind-attr class="editDesign:active"}}{{action "setDesignView" on="click"}}>Design View</button>
            <button {{bind-attr class="editCode:active"}}{{action "setCodeView" on="click"}}>Code View</button>
        </footer>
    </div>


</div>

