<div class="editor clearfix" xmlns="http://www.w3.org/1999/html">

    <header class="main">
        <h1>Proto
            {{#link-to 'editor.design'}}Design{{/link-to}}
        </h1>

        <div class="project-controls">
            <span class="fa fa-file-o icons" title="New"></span>
            <span class="fa fa-folder-open-o icons" title="Open"></span>
            <span class="fa fa-save icons" title="Save"></span>
            <span class="fa fa-external-link-square icons" title="Export"></span>
            <span class="fa fa-play icons" title="Run"></span>
        </div>
    </header>

    <section class="sidebar">
        <aside>
            <header class="label-title">Project Tree</header>
            {{ project-tree }}
        </aside>
        <aside>
            <header class="label-title">Element Inspector</header>
            {{ property-inspector elemid=elementId }}
        </aside>
    </section>

    <div class="workspace">

        <div class="canvas-workspace">
            {{view Proto.CodeContainer isVisibleBinding="editCode"}}
            {{view Proto.Canvas isVisibleBinding="editDesign"}}
        </div>


        <footer>
            <button {{bind-attr class="editDesign:active"}}{{action "setDesignView" on="click"}}>Design View</button>
            <button {{bind-attr class="editCode:active"}}{{action "setCodeView" on="click"}}>Code View</button>
        </footer>
    </div>


</div>

