<section class="sidebar" id="sidebar">

    <aside>
        <header class="label-title">Element Inspector</header>
        {{ property-inspector
        elemid=elementId
        width=width
        height=height
        x_pos=x_pos
        y_pos=y_pos
        }}
    </aside>

    <aside>
        <header class="label-title">Project Tree <span class="add-screen fa fa-plus-square-o" {{action addScreen}}></span></header>

        {{ project-tree screens=model.screens }}

    </aside>

    {{screen-modal edit=edit screenTitle=screenTitle}}

</section>
<!-- # .sidebar -->

<div class="workspace">

    <div class="canvas-workspace">
        {{outlet}}
    </div>

</div>
<!-- # .workspace -->
